  <form class="navbar-form navbar-left" [formGroup]="searchForm" (ngSubmit)="searchMusic()">
    <button type="button"  (click)="toggleSearchType()" class="btn btn-default">
      <span *ngIf="searchType == 'Artistas'" class="glyphicon glyphicon-user" style="margin-right: 2px;"></span>
      <span *ngIf="searchType == 'Canciones'" class="glyphicon glyphicon-music" style="margin-right: 2px;"></span>
      {{searchType}}
    </button>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="searchStr" placeholder="Buscar {{searchType}}..." style="width: 300px;" >
    </div>
    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" style="margin-left: 0px;"></span></button>
  </form>


  
