.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;    
    margin-left: 25px;
    max-width: fit-content;
    
}



.container-top{
    height: 50%;
}

.container-bottom{
    height: 50%;
}

.margin-cont{
    margin: 5px;
 }

 .borde{
    border: 5px solid #181515;
    border-radius: 5px;
}
 
.row-1{
    height: 50%;
}
.row-2{
    height: 50%;
}

.recent{
    text-align: center;
}

.track-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.track-duration {
  color: #666;
}

.album-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;

    display: -webkit-box;
    -webkit-box-orient: vertical;

    /* Standard property (new spec) */
    line-clamp: 2;

    /* Vendor-prefixed fallback for all Chromium / Safari */
    -webkit-line-clamp: 2;

    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 850px;
}

/*star rating*/
.rating-stars {
  font-size: 32px;
  cursor: pointer;
  margin: 10px 0;
}

.star {
  color: #aaa;
  cursor: pointer;
  transition: color 0.2s ease;
}

.star.filled {
  color: gold;
}