/*.landing {
    height: 90%;
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: rgb(139, 139, 139);
    font-family: 'Exo 2', sans-serif;
    font-size: larger;
    /*margin-top: 66px; */ /*Este margen es el espacio que ocupa el navbar
    padding: 1em;
    box-sizing: border-box;
}*/