


<div class="container h-100">
    <div class="row d-flex align-items-center h-100">
        <h1 class="text-center" style="line-height: 80px;">Bienvenido a Angular + Spotify <br> Frase genérica de bienvenida</h1><br><br><br><br><br>
     <div class="col-md-4 text-center">
        <div class="well well-sm">
            <span class="glyphicon glyphicon-user" style="font-size: 150px;"></span>
            <p>Conecta tu cuenta de Spotify y visualiza información acerca de tus artistas y géneros mas escuchados</p>
          </div>
     </div>
     <div class="col-md-4 text-center">
        <div class="well well-sm">
            <span class="glyphicon glyphicon-search" style="font-size: 150px;"></span>
            <p>Utiliza el buscador para descubrir nueva música</p>
          </div>
     </div>
     <div class="col-md-4 text-center">
        <div class="well well-sm">
            <span class="glyphicon glyphicon-headphones" style="font-size: 150px;"></span>
            <p>Diseña tus propias playlist o genéralas automáticamente</p>
          </div>
     </div>
    </div>
   </div>