<div class="container h-100">
  <div class="row d-flex align-items-center h-100">
      <h1 class="text-center" style="line-height: 80px;">Bienvenido a <span style="color: rgb(195,0,47); font-weight: bolder">Angular</span> + <span style="color: rgb(30, 215, 96); font-weight: bolder;">Spotify</span>! <br></h1>
      <br><br><br>
      <h2 class="text-center">¿Que podes encontrar en este sitio?</h2><br><br><br>
      <div class="col-md-4 text-center">
      <div>
          <span class="glyphicon glyphicon-user" style="font-size: 150px;"></span>
          <p style="font-size: x-large; margin-top: 15px;">Conectá tu cuenta de Spotify y visualizá información acerca de tus artistas y géneros mas escuchados</p>
        </div>
   </div>
   <div class="col-md-4 text-center">
      <div>
          <span class="glyphicon glyphicon-search" style="font-size: 150px;"></span>
          <p style="font-size: x-large; margin-top: 15px;">Utilizá el buscador para descubrir nueva música</p>
        </div>
   </div>
   <div class="col-md-4 text-center">
      <div>
          <span class="glyphicon glyphicon-headphones" style="font-size: 150px;"></span>
          <p style="font-size: x-large; margin-top: 15px;">Diseñá tus propias playlist o generalas automáticamente</p>
        </div>
   </div>
  </div>
</div>

