img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    float: left;
    margin-right: 20px;
    margin-left: 0px;
}
.btn{
    margin: 10px;
}
.btn-create{
    background-color: #1db954;
    color: #191414;
    border: none;
    border-radius: 20px;
}

.btn-create:hover {
    background-color: #199a46; 
   }
.btn-create:focus {
    background-color: #199a46; 
   }
.btn-create:active {
    background-color: #FFFFFF; 
    color: #191414;
    transition-duration: 0.5s;
   }
.create{
    position: relative;
    top: 100px;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.profile-info{
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-right: 0px;
    font-size: 30px;
    font-weight: bold !important;
       
}

.container{
    display: flex;
    padding-top: 20px;
    position: relative;
    margin-left: 0%;
    width: 100%;
    gap: 5px;
}
.borde{
    border: 5px solid #181515;
    border-radius: 28px;
}
.col-1{
    width: 50%;
}
.col-2{
    width: 50%;
}

.recent{
    text-align: center;
}