<div *ngIf="!!this.isLoged(); else sesionNoIniciada" class="container">
    <div class="col-1 borde">
        <h3 style="text-align: center; font-size: 40px; font-weight: bold;">Información del Perfil</h3>
        <div class="container-info">
            <img class="profile-pic" [src]="profilePicUrl" alt="User Profile Picture">
            <div class="profile-info">
                <h2 style="font-size: 25px; font-weight: bold;">{{nombreUsuario}}</h2>
                <h6>Followers: {{followers}}</h6>
            </div> 
        </div>
        
        <div *ngIf="genreCounts" style="width: 500px; margin: auto;">
            <h3 style="text-align:center; margin-top:100px; font-size: 40px; font-weight: bold;">Géneros mas escuchados</h3>
            <canvas #genreChartCanvas></canvas>
        </div>
               
    </div>
    <div class="recent col-2 borde">
        <h3 style="font-size: 40px; font-weight: bold;">Escuchados recientemente</h3>
        <br>
        <button type="button" (click)="toggleShowType()" class="btn btn-default">
            {{showType}}
        </button>
        <button class="btn btn-default" (click)="toggleTermType()">
            {{termType}}
        </button>
        <button *ngIf="showType==='Canciones'" (click)="createPlaylist()" class="btn btn-create">Crear Playlist</button>
        <span *ngIf="playlistSuccess" style="margin-left: 10px; font-weight: bold; color: green;">Playlist creada con exito</span>
        <br><br>
        <ng-container *ngIf="showType==='Canciones'">
            <app-track class="media" *ngFor="let item of recentItems" [track]="item"></app-track>
        </ng-container>
        <ng-container *ngIf="showType==='Artistas'">
            <app-artist class="media" *ngFor="let item of recentArtists" [artist]="item"></app-artist>
        </ng-container>

    </div>
</div>

<ng-template #sesionNoIniciada>
    <div >
        <app-no-sesion></app-no-sesion>
    </div>
</ng-template>