<div *ngIf="!!this.isLoged(); else sesionNoIniciada" class="container row">
    <div class="col-lg-6"> <img [src]="profilePicUrl" alt="User Profile Picture">
        <div class="profile-info">
            <h2 >{{nombreUsuario}}</h2>
            <h6>Followers: {{followers}}</h6>
        </div>
    </div>
    <div class="recent col-lg-6">
        <h3>Esto es lo que haz estado escuchando!</h3>
        <div class="itemList">{{recentItems}}</div>
    </div>
</div>

<ng-template #sesionNoIniciada>
    <div class="container">
        <h2>Debe iniciar sesión primero</h2>
    </div>
</ng-template>