
<div *ngIf="!!this.sesionIniciada(); else sesionNoIniciada" class="text-center container">
    <div class="flex gap-3">
        <div class="p-2 g-col-6">
            <button (click)="previous()" class="btn btn-primary btn-lg">Previous song</button></div>
        <div class="p-2 g-col-6">
            <button (click)="playpause()" class="btn btn-primary btn-lg">Play/Pause</button></div>
        <div class="p-2 g-col-6">
            <button (click)="next()" class="btn btn-primary btn-lg">Next song</button></div>
      </div>
</div>



<ng-template #sesionNoIniciada>
    <div class="container">
        <h2>Debe iniciar sesión primero</h2>
    </div>
</ng-template>