<div *ngIf="!!this.sesionIniciada(); else sesionNoIniciada" class="text-center container">
    <div class="inner">
        <div class="current-track">
            <!-- <app-track [track]="(getTrack() | async)"></app-track> /Borrar si es muy complicado -->
        </div>
        <h1>Controla tu musica desde nuestro reproductor</h1>
        <div class="player-buttons">
            <div class="">
                <button (click)="previous()" class="btn  btn-lg"><span style="margin: 5px;"
                        class="glyphicon glyphicon-fast-backward"></span>Previous song</button>
            </div>
            <div class="">
                <button (click)="playpause()" class="btn  btn-lg"><span style="margin: 5px;"
                        class="glyphicon glyphicon-play"></span>/<span style="margin: 5px;"
                        class="glyphicon glyphicon-pause"></span>Play/Pause</button>
            </div>
            <div class="">
                <button (click)="next()" class="btn  btn-lg">Next song<span style="margin: 5px;"
                        class="glyphicon glyphicon-fast-forward"></span></button>
            </div>
        </div>
    </div>
</div>



<ng-template #sesionNoIniciada>
    <div>
        <app-no-sesion></app-no-sesion>
    </div>
</ng-template>