<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" [routerLink]="['/home']"><span style="color: rgb(195,0,47);">Angular</span> + <span style="color: rgb(30, 215, 96); ">Spotify</span></a>
      </div>


      <app-searchbox></app-searchbox>
    
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li><a href="#"[routerLink]="['/player']">Reproductor <span class="sr-only">(current)</span></a></li>
          <li><a href="#" [routerLink]="['/user']">Ver Perfil</a></li>
          <li><a href="#" [routerLink]="['/my-ratings']">Mis Ratings</a></li> 
          <li><a href="#" [routerLink]="['/about']">Sobre Nosotros</a></li>          
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" [routerLink]="['/log-in']">Log In/Log out</a></li>
      
        <img class="float-end"  src="../../assets/img/Spotify-Icon.png" alt="Icon" id="icon" width="35px"  height="35px" style="margin-top: 7px;" >
      </ul>
      </div>
    </div>
  </nav>
  
  