.navbar {
    width: 100%;
    height: 10%;
    background-color: #161616;
    color: rgb(102, 102, 102);
    font-family: 'Exo 2', sans-serif;
    font-size: larger;
    padding: 1em; /*Esto es todo lo que le da tamaño vertical al navbar, tal vez intercambiar con otro parametro en el futuro*/
    box-sizing: border-box;
  }