<!--
    Parte superior
-->


<div class="row" style="position: fixed; right: 25%; top: 50%; transform: translate(0%, 0%); text-align: center;">
  <div class="col-md-12">
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" style="width: 250px; height: 250px;" src="{{artistResult.images[0].url}}" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{artistResult.name}}</h4>
        ID: {{id}}
        Popularidad: {{artistResult.popularity}}
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="media">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" style="width: 250px; height: 250px;" src="{{artistResult.images[0].url}}" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{artistResult.name}}</h4>
        ID: {{id}}
        Popularidad: {{artistResult.popularity}}
      </div>
    </div>
  </div>
 </div>

<!--
-->

<!--
-->

<!--
-->

<!--
-->