<!--
    Parte superior
-->

<div class="container">

  <div class="container-top">
    <div *ngIf="artistResult" class="media  margin-cont">
      <div class="media-left"> <a href="#"> <img alt="" class="media-object"
            style="width: 200px; height: 200px;"
            src="{{artistResult.images[0].url}}"
            > </a> </div>
      <div class="media-body">
        <h4 class="media-heading" style="font-size: 60px; margin-bottom: 15px; margin-top: 15px;">{{artistResult.name}}</h4>
        <p *ngFor="let genre of artistResult.genres | slice:0:5" class="label label-primary d-inline-block mr-3" style="margin-right: 5px; font-size: larger;">{{genre}}</p>
        <p style="margin-top: 15px; font-size: larger;">{{artistResult.followers.total}} Seguidores</p>
        <p style="font-size: larger;">Popularidad: {{artistResult.popularity}}</p>
              
      </div>
    </div>
  </div>

  
  <div class="container-bottom">
    <div class="container-bottom-left  margin-cont">
      <h3>Canciones Mas Escuchadas</h3>
      <div *ngIf="topTracksResult">
        <div class="media" *ngFor="let item of tracks | slice:0:5">
          <div class="media-left">
              <a href="#">
              <img class="media-object" style="width: 95px; height: 95px; margin-left: 15px;" src="{{item.album.images && item.album.images.length > 0 ? item.album.images[0].url : '/assets/img/default-image-song.png'}}" alt="Card image cap">
              </a>
          </div>
          <div class="media-body">
              <h4 class="media-heading" 
              style="font-size: medium; text-overflow: ellipsis;
              width: 340px;
              overflow: hidden;
              white-space: nowrap;
              margin: 0px;">
              {{item.name}}</h4>
              <p class="card-text"><p class="text-muted" style="font-size: small; text-overflow: ellipsis;
                width: 340px;
                overflow: hidden;
                white-space: nowrap;
                margin: 5px;">{{item.album.name}}</p>
              
              <audio style="width: 75%;" id="audio-player" controls>
                <source src="{{item.preview_url}}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
          </div>
        </div> 
      </div>        
    </div>

    <!--Edicion 28-10-2025 CONTAINER PARA ALBUMES MAS ESCUCHADOS-->
    <div class="container-bottom-right  margin-cont">
      <h3>Albumes mas recientes</h3>
      <div *ngIf="albums?.length">
        <div class="media" *ngFor="let item of albums | slice:0:5">
          <div class="media-left">
              <a href="#">
              <img class="media-object" style="width: 95px; height: 95px; margin-left: 15px;" src="{{item.images && item.images.length > 0 ? item.images[0].url : '/assets/img/default-image-song.png'}}" alt="Card image cap">
              </a>
          </div>
          <div class="media-body">
              <h4 class="media-heading" 
              style="font-size: medium; text-overflow: ellipsis;
              width: 340px;
              overflow: hidden;
              white-space: nowrap;
              margin: 0px;">
              {{item.name}}</h4>
              <p class="card-text"><p class="text-muted" style="font-size: small; text-overflow: ellipsis;
                width: 340px;
                overflow: hidden;
                white-space: nowrap;
                margin: 5px;">{{ item.release_date | date:'yyyy' }}</p>
               </div>
        </div> 
      </div>        
    </div>
    
    <!--<div class="container-bottom-right  margin-cont">
      <h3>Artistas Relacionados</h3>
      <div *ngIf="relatedArtistsResult">
        <div class="media" *ngFor="let item of related | slice:0:5">
          <div class="media-left">
              <a href="#">
              <img class="media-object" style="width: 95px; height: 95px; margin-left: 15px;" src="{{item.images && item.images.length > 0 ? item.images[0].url : '/assets/img/default-image-song.png'}}" alt="Card image cap">
              </a>
          </div>
          <div class="media-body">
              <h4 class="media-heading">{{item.name}}</h4>
              <p *ngFor="let genre of item.genres | slice:0:3" class="label label-primary d-inline-block mr-3" style="margin-right: 5px;">{{genre}}</p>
              <p><button style="font-size: smaller; padding: 5px; margin-top: 10px;" type="button" class="btn btn-default" (click)="(switchId(item.id))">Ver Detalles</button></p>
          </div>
          
        </div> 
      </div>
    </div>
    -->

  </div>

    
</div>