<!--
    Parte superior
-->

<div class="container">

  <div class="container-top">
    <div class="media borde margin-cont">
      <div class="media-left"> <a href="#"> <img alt="" class="media-object"
            style="width: 200px; height: 200px;"
            src="{{artistResult.images[0].url}}"
            > </a> </div>
      <div class="media-body">
        <h4 class="media-heading" style="font-size: 60px; margin-bottom: 15px; margin-top: 15px;">{{artistResult.name}}</h4>
        <p *ngFor="let genre of artistResult.genres | slice:0:5" class="label label-primary d-inline-block mr-3" style="margin-right: 5px; font-size: larger;">{{genre}}</p>
        <p style="margin-top: 15px; font-size: larger;">{{artistResult.followers.total}} Seguidores</p>
        <p style="font-size: larger;">Popularidad: {{artistResult.popularity}}</p>      
      </div>
  </div>

  <div class="container-bottom">
    <div class="container-bottom-left borde margin-cont">
      <h3>Albumes</h3>
      <p>Texto texto bla bla bla bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla bla</p>
    </div>  
    <div class="container-bottom-right borde margin-cont">
      <h3>Artistas relacionados</h3>
      <p>Texto texto bla bla bla bla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla blabla bla bla</p>
    </div>
  </div>
  
  
</div>
  
  

  
  
</div>

<!--
-->

<!--
-->

<!--
-->

<!--
-->