<div *ngIf="!!this.isLoged(); else sesionNoIniciada" class="ratings-container">

  <h2 style="font-weight: bold;">Ratings</h2>

  <div *ngFor="let group of ratingGroups" class="rating-block">

    <!-- Stars line -->
    <div class="stars">
      <span *ngFor="let _ of getStarsArray(group.stars)">★</span>
    </div>

    <!-- Album list -->
    <ul>
      <li *ngFor="let album of group.albums">
        {{ album.name }} - {{ album.artists }}
      </li>
    </ul>

  </div>

</div>

<ng-template #sesionNoIniciada>
    <div >
        <app-no-sesion></app-no-sesion>
    </div>
</ng-template>